wh-tile-title-multiline {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: repeat(2, auto);
	grid-column-gap: 0.5em;
	grid-row-gap: 0px;
	align-items: center;

	border-bottom: 1px solid var(--theme-dashboard-tile-separator-color, red);
	color: var(--theme-dashboard-tile-font-color, red);
	padding: 1em;

	font-style: normal;
	font-weight: bold;
	font-size: 1em;
	line-height: 2em;
}

wh-tile-title-multiline::part(subtext) {
	color: var(--theme-dashboard-tile-font-color, red);
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: smaller;
	line-height: 1em;
}

wh-tile-title-multiline::part(prefix) {
	grid-area: 1 / 1 / 3 / 2;
	display: flex;
	align-items: center;
}

wh-tile-title-multiline::part(suffix) {
	grid-area: 1 / 3 / 3 / 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
